name: Jest Tests

on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    container: node:latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: alchemy
          POSTGRES_PASSWORD: alchemy
    steps:
    - uses: actions/checkout@v2
    - run: npm ci
    - run: npm test
      env:
        CI: true
        DATABASE_URL: postgres://alchemy:alchemy@postgres:5432/alchemy
        API_SECRET: ${{secrets.API_SECRET}}
        Client_ID: ${{secrets.Client_ID}}
        Client_secrets: ${{secrets.Client_secrets}}
        REDIRECT_URL: https://warm-gorge-13979.herokuapp.com/api/v1/githubauth/githublogin/callback


